<!DOCTYPE html>
<html lang="fi">
<head>
    <title>DjangoKAUPPA | {% block title %}Page Title{% endblock title %}</title>
    {% include 'includes/head.html' %}
    {% block head %}{% endblock head%}
</head>

<body class="container is-max-desktop">

<header class="mt-6">
    {% include 'includes/navigation.html' %}
</header>

{% block content %}{% endblock content%}

<footer class='footer has-background-black mt-6'>
    {% block footer %}{% endblock footer%}
    {% include 'includes/footer.html' %}
</footer>

<script>
    /* Burger menu functionality */
    let burgerMenu = document.getElementById("burger-menu");
    let navbarMenu = document.getElementById("navbar-menu");
    burgerMenu.addEventListener("click", function () {
    burgerMenu.classList.toggle("is-active");
    navbarMenu.classList.toggle("is-active");
    });
</script>
</body>
</html>