<!-- Footer -->
<div class="tile is-ancestor">
    <div class="tile is-4 is-vertical has-text-centered has-text-white is-size-4">
        <p class="block has-text-white has-text-weight-bold">Verkkokauppa</p>
        <p class="block"><a href="{% url 'yhteystiedot' %}">Yhteystiedot</a></p>
        <p class="block"><a href="{% url 'tietosuojaseloste' %}">Tietosuojaseloste</a></p>
        <p class="block"><a href="#">Lorem Ipsum</a></p>
        <p class="block"><a href="#">Dolor sit amet</a></p>
    </div>

    <div class="categories tile is-4 is-vertical has-text-centered has-text-white is-size-4 has-border">
        <p class="block has-text-white has-text-weight-bold">Kategoriat</p>
        <p class="block"><a href="#">Elektroniikka</a></p>
        <p class="block"><a href="#">Vapaa aikaa</a></p>
        <p class="block"><a href="#">Kodinkoneet</a></p>
        <p class="block"><a href="#">Tarjoukset</a></p>
    </div>

    <div class="tile is-4 is-vertical has-text-centered is-size-4">
        <p class="block has-text-white has-text-weight-bold">Seuraa meita!</p>
        <p class="block">
            <a class="button is-medium is-facebook"><span class="icon"><i class="fab fa-facebook fa-lg"></i></span></a>
        </p>
        <p class="block">
            <a class="button is-medium is-instagram"><span class="icon"><i class="fab fa-instagram fa-lg"></i></span></a>
        </p>
        <p class="block">
            <a class="button is-medium is-twitter"><span class="icon"><i class="fab fa-twitter fa-lg"></i></span></a>
        </p>
    </div>
</div>
