{% load widget_tweaks %}

{% for hidden in form.hidden_fields %}
    {{ hidden }}
{% endfor %}

{% if form.non_field_errors %}
    <div class="notification is-danger is-size-5">{{ form.non_field_errors }}</div>
{% endif %}

{% for field in form.visible_fields %}
    <section class="field">
        {% if field.field.widget.input_type == "checkbox" %}
            <label class="checkbox">{{field}} {{ field.label }}</label>
        {% else %}
            <label for="{{ field.id_for_label }}" class="label">{{ field.label }}</label>
            <div class="control">
                {% if field.errors %}
                    {{ field|add_class:'input is-danger' }}
                {% else %}
                    {{ field|add_class:'input' }}
                {% endif %}
            </div>
            {% if field.errors %}
                <div class="help is-danger">{{ field.errors }}</div>
            {% endif %}
            {% if field.help_text %}
                <div class="help">{{ field.help_text|safe }}</p>
            {% endif %}
        {% endif %}
    </section>
{% endfor %}
