{% load static %}

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-social@1/bin/bulma-social.min.css">
<link rel="stylesheet" href="{% static 'kauppa/css/tyyli.css' %}">
<script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'kauppa/favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="96x96" href="{% static 'kauppa/favicon-96x96.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'kauppa/favicon-16x16.png' %}">