{% load static %}

<!-- Navigation bar -->
<nav class="navbar has-shadow" role="navigation" aria-label="main navigation">

    <!-- Navigation part for the brand -->
    <div class="navbar-brand">

        <!-- Navigation items should be of class navbar-item -->
        <a class="navbar-item" href="{% url 'etusivu' %}">
            <img src="{% static 'kauppa/kuvat/DjangoKauppa_Logo_400.png' %}">
        </a>

        <!-- Burger menu -->
        <a role="button" id="burger-menu" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
            data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <!-- navbar-menu element contains the actual navigation items (But inside it two children) -->
    <div id="navbar-menu" class="navbar-menu">
        <!-- First children of navbar-menu. Inside it actual navigation items -->
        <div class="navbar-start">

            <!-- Navigation items are marked with the class navbar-item -->
            <a class="navbar-item" href="{% url 'tuotteet' %}">Tuotteet</a>

            <a class="navbar-item" href="{% url 'yhteystiedot' %}">Yhteystiedot</a>

            <!-- Navigation item with dropdown -->
            <div class="navbar-item has-dropdown is-hoverable">
                <!-- Submenu title -->
                <a class="navbar-link">Kategoriat</a>

                <!-- Submenu items -->
                <div class="navbar-dropdown">
                    <a class="navbar-item">Elektroniikka</a>
                    <a class="navbar-item">Vapaa aikaa</a>
                    <a class="navbar-item">Kodinkoneet</a>
                    <hr class="navbar-divider">
                    <a class="navbar-item">Tarjoukset</a>
                </div>
            </div>
        </div>

        <!-- Second children of navbar-menu. Inside it actual navigation items -->

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    {% if user.is_authenticated %}
                        <p class="content m-0 mr-4">
                            <span class="has-text-weight-bold is-unselectable">Moi {{ user.first_name }}!</span>
                        </p>
                        <a href="{% url 'ostoskärry' %}" class="cart mr-5">
                            <div class="cart-count">
                                <span class="cart-number">{{ ostosmäärä }}</span>
                            </div>
                            <span class="icon has-text-primary is-large">
                                <i class="fa fa-2x fa-shopping-cart has-text-primary"></i>
                            </span>
                        </a>
                        <a class="button is-danger m-0" href="{% url 'logout' %}">Kirjaudu ulos</a>
                    {% else %}
                        <a class="button is-primary" href="{% url 'rekisteröinti' %}"><strong>Rekisteröi</strong></a>
                        <a class="button is-info" href="{% url 'login' %}">Kirjaudu</a>
                    {% endif %}
                </div>
            </div>
        </div> <!-- /NavBar-End -->

    </div> <!-- /NavBar-Menu -->
</nav> <!-- /NavBar -->
