{% extends 'base.html' %}

{% block title %}Lisää tuote{% endblock %}

{% block content_title %}Lisää tuote{% endblock %}


{% block content %}
<section class="section">
    <div class="container">
        <form method="POST" novalidate action="{% url 'addtuote' %}">
        {% csrf_token %}
        {% include 'includes/form.html' %}
        <button type="submit" class="button is-primary">Add product</button>
        </form>
    </div>
</section>
{% endblock %}