<!DOCTYPE html>
<html lang="fi">
<head>
    <title>DjangoKAUPPA | {% block title %}Page Title{% endblock title %}</title>
    {% include 'includes/head.html' %}
    {% block head %}{% endblock head %}
</head>

<body class="container is-max-desktop">

<header class="container mb-6">
    {% include 'includes/navigation.html' %}
</header>

{% block content %}{% endblock content%}

<script>
    /* Burger menu functionality */
    let burgerMenu = document.getElementById("burger-menu");
    let navbarMenu = document.getElementById("navbar-menu");
    burgerMenu.addEventListener("click", function () {
    burgerMenu.classList.toggle("is-active");
    navbarMenu.classList.toggle("is-active");
    });
</script>

</body>
</html>