{% extends 'base_no_footer.html' %}
{% load static %}

{% block title %}Kiitos{% endblock %}

{% block content %}
<section class="hero is-fullheight-with-navbar">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-8">
                    <div class="box has-background-success-light p-6">
                        <p class="is-size-3 mb-6 has-text-centered has-text-success-dark">Kiitos ostoksesta!</p>
                        <div class="columns">
                            <a href="{% url 'etusivu' %}"><button class="button column is-size-3 is-info mr-1">Palaa etusivuun</button></a>
                            <a href="{% url 'tuotteet' %}"><button class="button column is-size-3 is-primary">Jatkaa ostoksia</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}
