{% extends 'base_no_footer.html' %}
{% load static %}

{% block title %}Kirjautuminen{% endblock %}

{% block content %}
<section class="hero is-fullheight-with-navbar">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-7">
                    {% if form.errors %}
                        <div class="notification is-danger is-light">
                            <p>Käyttäjätunnus ja salasana eivät tasmaa. Yritä uudeelleen.</p>
                        </div>
                    {% endif %}

                    {% if next %}
                        {% if user.is_authenticated %}
                            <p>Your account doesn't have access to this page. To proceed,
                        please login with an account that has access.</p>
                        {% else %}
                            <p>Please login to see this page.</p>
                        {% endif %}
                    {% endif %}

                    <form action="{% url 'login' %}" class="box" method="post">
                        {% csrf_token %}
                        <div class="field has-text-centered">
                            <img src="{% static 'kauppa/kuvat/DjangoKauppa_Logo_400.png' %}" width="167">
                        </div>
                        <div class="field">
                            <label class="label">Käyttäjätunnus</label>
                            <div class="control has-icons-left">
                                <input class="input" id="id_username" name="username" autofocus="" autocapitalize="none" autocomplete="username" type="text" placeholder="Käyttäjätunnus" maxlength="30" required>
                                <span class="icon is-small is-left">
                                    <i class="fa fa-user"></i>
                                </span>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Salasana</label>
                            <div class="control has-icons-left">
                                <input id="id_password" class="input" name="password" type="password" placeholder="Salasana" required>
                                <span class="icon is-small is-left">
                                    <i class="fa fa-lock"></i>
                                </span>
                            </div>
                        </div>
                        <div class="field">
                            <button class="button is-success">
                            Kirjaudu sisään
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}
