{% extends 'base.html' %}

{% block title %}Ostoskärry{% endblock %}

{% block head %}
<style>
    .price input {
        background-color: white;
        width: 4rem;
        margin: 0 1rem;
        text-align: center;
    } 
</style>
{% endblock head %}


{% block content %}
    <h1 class="title has-text-centered is-size-1">Ostoskärry</h1>

    {% if ostoslista %}
        {% for tuote in ostoslista %}
            <!-- Tuote  -->
            <div class="p-0">
                <div class="columns m-0">
                    <div class="column is-7 p-0 is-flex is-align-items-center">
                        <a href="{% url 'poistaatuote_kärrystä' tuote.tuote.id %}"><button class="button is-danger">Delete</button></a>
                        <img class="ml-5" style="max-width: 3rem" src="{{ tuote.tuote.kuva.url }}" alt="Tuoten kuva">
                        <div class="ml-5" style="width:100%">
                            <a href="{% url 'tuote_yksityiskohdat' tuote.tuote.id %}" class="is-size-4">{{ tuote.tuote.nimi }}</a><br>
                            <div class="is-flex is-justify-content-space-between">
                                <div><span class="is-size-5">{{ tuote.tuote.hinta }}</span>€/kpl</div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="column is-5 price">
                        <p class="is-flex is-justify-content-center">
                            <a href="{% url 'poistaa_kärrystä' tuote.tuote.id %}"><button class="button is-info" {% if tuote.määrä == 1 %}disabled{% endif %}>-</button></a>
                            <input class="is-size-4" type="text" value="{{ tuote.määrä }}" readonly>
                            <a href="{% url 'lisätä_kärryyn' tuote.tuote.id %}"><button class="button is-info" {% if tuote.määrä == tuote.tuote.määrä %}disabled{% endif %}>+</button></a>
                        </p>
                        <p class="has-text-centered"><span class="is-size-3">{{ tuote.kokonaishinta }}€</span></p>
                        {% comment %} <a href="{% url 'lisätä_kärryyn' tuote.id %}" class="button is-primary is-block">Lisää ostoskärryyn!</a> {% endcomment %}
                    </div>
                </div>
            </div>
            <hr>
        {% endfor %}
        <!-- <div class="is-flex is-flex-direction-column is-align-items-stretch"> -->
            <p class="is-size-2 has-text-centered mb-4">Yhteensä: {{ kokonaishinta }}€</p>
            <a href="{% url 'ostaa' %}" class="has-text-centered"><button class="button is-success is-size-3 is-fullwidth">Ostaa!</button></a>
        <!-- </div> -->
    {% else %}
            <p class="tyhjä">Ei ole vielä tuoteita!</p>
    {% endif %}

{% endblock content %}

{% block script %}
<script>
    let 
</script>
{% endblock script %}


