{% extends 'base_no_footer.html' %}
{% load static %}

{% block title %}Rekisteröinti{% endblock %}

{% block head %}
<style>
input:focus {
    border-color: rgba(82, 168, 236, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
    outline: 0 none;
    padding: 0.5rem;
    border-radius: 4px;
}
</style>
{% endblock head %}

{% block content %}
<section class="hero is-fullheight-with-navbar">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-7">
                    {% comment %} {% if form.errors %}
                        <div class="notification is-danger is-light">
                            <p>Käyttäjätunnus ja salasana eivät tasmaa. Yritä uudeelleen.</p>
                        </div>
                    {% endif %} {% endcomment %}

                    {% if next %}
                        {% if user.is_authenticated %}
                            <p>Your account doesn't have access to this page. To proceed,
                        please login with an account that has access.</p>
                        {% else %}
                            <p>Please login to see this page.</p>
                        {% endif %}
                    {% endif %}

                    <form action="{% url 'rekisteröinti' %}" class="box content" method="post">
                        {% csrf_token %}
                        <div class="field has-text-centered">
                            <img src="{% static 'kauppa/kuvat/DjangoKauppa_Logo_400.png' %}" width="167">
                        </div>

                        {% for field in form %}
                        <p>
                            {{ field.label_tag }}<br>
                            {{ field }}
                            {% if field.help_text %}
                            <br><small style="color: grey">{{ field.help_text }}</small>
                            {% endif %}
                            {% if field.errors %}
                            <p style="color: red; padding-left: 1rem;">
                            {% for error in field.errors %}
                                {{ error }}<br>
                            {% endfor %}
                            </p>
                            {% endif %}
                        </p>
                        {% endfor %}
{% comment %}                         
                        <div class="field has-text-centered">
                            <img src="{% static 'kauppa/kuvat/DjangoKauppa_Logo_400.png' %}" width="167">
                        </div>
                        <div class="field">
                            <label class="label">Etunimi</label>
                            <div class="control has-icons-left">
                                <input class="input" id="id_etunimi" name="first_name" autofocus="" autocapitalize="none" autocomplete="etunimi" type="text" placeholder="Etunimi" maxlength="30" required>
                                <span class="icon is-small is-left"><i class="fa fa-user"></i></span>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Sukunimi</label>
                            <div class="control has-icons-left">
                                <input class="input" id="id_sukunimi" name="last_name" autofocus="" autocapitalize="none" autocomplete="sukunimi" type="text" placeholder="Sukunimi" maxlength="30" required>
                                <span class="icon is-small is-left"><i class="fa fa-user"></i></span>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Käyttäjätunnus</label>
                            <div class="control has-icons-left">
                                <input class="input" id="id_username" name="username" autofocus="" autocapitalize="none" autocomplete="username" type="text" placeholder="Käyttäjätunnus" maxlength="30" required>
                                <span class="icon is-small is-left"><i class="fa fa-user"></i></span>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Sähköpostiosoite</label>
                            <div class="control has-icons-left">
                                <input class="input" id="id_email" name="email" autofocus="" autocapitalize="none" autocomplete="email" type="text" placeholder="Sähköpostiosoite" maxlength="100" required>
                                <span class="icon is-small is-left"><i class="fa fa-user"></i></span>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Salasana</label>
                            <div class="control has-icons-left">
                                <input id="id_password1" class="input" name="password1" type="password" placeholder="Salasana" required>
                                <span class="icon is-small is-left"><i class="fa fa-lock"></i></span>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Salasana uudeelleen</label>
                            <div class="control has-icons-left">
                                <input id="id_password2" class="input" name="password2" type="password" placeholder="Salasana" required>
                                <span class="icon is-small is-left"><i class="fa fa-lock"></i></span>
                            </div>
                        </div> {% endcomment %}
                        <div class="field">
                            <button class="button is-success">Rekisteröi</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}
