{% extends 'base_etusivu.html' %}
{% load static %}

{% block title %}Yksityiskohdat{% endblock %}

{% block head %}
<style>
    button.button.is-primary[disabled] {
        background-color: gray;
        color: #eee;
    }
</style>
{% endblock head %}

{% block content %}

<div class="section p-0 mb-6">
    <div class="card is-horizontal">

        <div class="card-image">
            <figure class="image is-4by3">
                <img src="{{ tuote.kuva.url }}" alt="this used to be photo">
            </figure>
        </div>

        <div class="card-content">
            <p class="title is-3">{{ tuote.nimi }}</p>
            <div class="content">
                {{ tuote.lisatiedot }}
                <br><br>
                <p class="is-size-5">
                    Tuote luottu: {{ tuote.luotu }}
                </p>
                <p class="is-size-5">
                    Tuote päivitetty: {{ tuote.paivitetty }}
                </p>
                <p class="is-size-5">
                    Varastossa: 
                    {% if tuote.määrä < 10 %}
                    &lt;10
                    {% elif tuote.määrä < 100 %}
                    &gt;10
                    {% else %}
                    &gt;100
                    {% endif %}
                </p>
                <br><br>
                {% if tuote.hinta > 100 %}
                    <span class="tag is-link">Ilmainen lähetys</span>
                {% endif %}
            </div>
            <p class="is-size-3 mb-3 has-text-centered">Hinta: {{ tuote.hinta }}€</p>
            <a href="{% url 'lisätä_kärryyn' tuote.id %}">
                <button class="button is-primary is-size-4 is-fullwidth has-text-weight-bold" {% if tuote.määrä == 0 %}disabled{% endif %}>Lisää ostoskoriin</button>
            </a>
        </div>
    </div>
</div>
{% endblock content %}
